<mat-card class="card">
  <div class="card-content">
   <div class="container">

    <div class="columns" >
     <td [width]="30">varsha</td>   
      <div>
        <td>varsha</td>
      </div>
      <div>
        <td>varsha</td>
      </div>
    </div>
    </div> 
   </div>
  
</mat-card>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
  </tr>
  <tr>
    <td>{{id}}</td>
    <td>{{Name}}</td>
</tr>
</table>
<button mat-button class="button" color="dark" (click)="onClick()">click</button>
<button mat-button  href="https://www.youtube.com/" >youtube</button>

